<div class="container">
    <div class="jumbotron">
        <h1> Sails App </h1>
        <h2> new app in development with Sails js framework ! </h2>
        <a href="/user/new" class="btn btn-lg btn-success"> Sing up now ! <a>
    </div>


</div>